.User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    img {
      max-width: 150px;
      border-radius: 100%;
      box-shadow: 1px 1px 20px black;
      border: 1px solid whitesmoke;
    }
    .text__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  .PrevNext {
    display: flex;
    gap: 20px;
    button {
      padding: 5px 10px;
      border-radius: 6px;

      border: 1px solid #61dafb;
      color: #61dafb;
      background-color: rgba(245, 245, 245, 0);
      cursor: pointer;
      &:hover {
        border: 1px solid whitesmoke;
        color: whitesmoke;
      }
    }
  }
  .toHome {
    margin-top: 6px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    button {
      margin-top: 6px;
      padding: 5px 10px;
      border-radius: 6px;
      border: 1px solid black;
      color: black;
      background-color: rgba(245, 245, 245, 0);
      cursor: pointer;
      &:hover {
        border: 2px solid black;
        color: black;
        font-weight: bold;
      }
    }
  }
}
